<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>历史数据</title>

    <link rel="shortcut icon" href="favicon.ico"> <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- Data Tables -->
    <link href="css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">

    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">

    <script src="../js/cron/jquery.min.js"></script>
    <script src="../js/cron/bootstrap.min.js"></script>
    <script src="js/plugins/jeditable/jquery.jeditable.js"></script>
    <script src="js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="js/content.min.js?v=1.0.0"></script>

    <script src="../js/plugins/layer/laydate/laydate.js"></script>
    <script src="js/plugins/iCheck/icheck.min.js"></script>

    <script src="js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

    <script src="js/local/data/history_data.js"></script>

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>基本 <small>分类，查找</small></h5>
                    <div class="ibox-tools">

                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="col-sm-10" >
                        <label>目标IP：</label>
                            <input type="radio" id="kjUrlAddress"  name="UrlAddress" value="0" checked="" />科佳同创
                            <input type="radio" id="custUrlAddress"  name="UrlAddress" value="1"/>客户

                    </div>
                    <div class="col-sm-10">
                        <button type="button" id="start1"   style="margin-right:20px"  class="btn btn-w-m btn-success start">启用</button>
                        <button type="button" id="stop"   style="margin-right:20px"  class="btn btn-w-m btn-success stop">禁用</button>
                    </div>
                    <!-- 表格 -->
                    <table class="table table-striped table-bordered table-hover TadataTables-example datable"  id="history-data-table" ></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    /**
     var pageNum=1;
     $(function(){
        equipmentlist(pageNum);
    })
     */
    class BstpTable{
        constructor(obj) {
            this.obj=obj;
        }
        inint(){
            //---先销毁表格 ---
            this.obj.bootstrapTable('destroy');
            //---初始化表格,动态从服务器加载数据---
            this.obj.bootstrapTable({
                //【发出请求的基础信息】
                url: '/dataManager/queryHistoryDataList',
                method: 'post',
                contentType: "application/x-www-form-urlencoded",
                //【查询设置】
                queryParamsType:'',
                queryParams: queryParams,
                //【其它设置】
                locale:'zh-CN',//中文支持
                pagination: true,//是否开启分页（*）
                pageNumber:1,//初始化加载第一页，默认第一页
                pageSize: 10,//每页的记录行数（*）
                pageList: [10,50,100],//可供选择的每页的行数（*）
                sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
                showRefresh:true,//刷新按钮
                dataType: "json",
                uniqueId: "historyId",
                sortable: true,
                sortOrder: "asc",                   //排序方式
                showColumns: true,                  //是否显示所有的列（选择显示的列）
                showRefresh: true,                  //是否显示刷新按钮
                //bFilter: true,     //过滤功能
                //bSort: true,     //排序功能



                responseHandler: function(res) {
                    return {
                        "total": res.data.recordsTotal,//总页数
                        "rows": res.data.list,   //数据
                        //  "sortColumnsName": res.sort,      //排序列名
                        //"sortOrder": res.order //排位命令（desc，asc）
                    };
                },
                //【设置列】
                columns: [
                    {
                        checkbox:true,
                    },
                    {field: 'instructionsName',title: '指令名称',sortable: true, },

                    {field: 'isFlangKj',title: '科佳是否同步',sortable: true,
                        formatter:function (value,row,index) {
                            var str= value;
                            var ok = "是";
                            var  no = "否";
                            if(str == "1"){
                                return ok;
                            }
                            if(str == "0"){
                                return no;
                            }
                        }
                    },
                    {field: 'isFlangCust',title: '客户是否同步',sortable: true,
                        formatter:function (value,row,index) {
                            var str= value;
                            var ok = "是";
                            var  no = "否";
                            if(str == "1"){
                                return ok;
                            }
                            if(str == "0"){
                                return no;
                            }
                        }
                    },
                ]
            })
        }
    }

    var bstpTable=new BstpTable($("table"));
    bstpTable.inint({})
    $('.fixed-table-header').remove();

    //启用
    $(function(){
        updateStart();
    })

    //禁用
    $(function(){
        updateStop();
    })

    //科佳radio
    $(function(){
        kjUrlAddress_cli();
    })

    $(function(){
        kjUrlAddressonclick();
    })
    $(function(){
        custUrlAddressonclick();
    })

    //请求服务数据时所传参数
    function queryParams(params){
        return{
            pageNumber: params.pageNumber,
            pageSize: params.pageSize,

        }
    }
    //查询按钮事件
    $('#search_btn').click(function(){
        $('#history-data-table').bootstrapTable('refresh', {url: '/dataManager/queryHistoryDataList'});
    })

</script>

</body>

</html>
