<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>充电过程</title>
    <link href="../h/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../h/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../h/css/animate.min.css" rel="stylesheet"/>
    <link href="../h/css/style.min.css" rel="stylesheet"/>
    <link href="../page/jquery.pagination.css" rel="stylesheet"/>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>充电过程</h5>
                </div>
                <div class="ibox-content">
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-3">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" style="margin-top: 8px;">设备编号</label>
                                    <div class="col-sm-9">
                                        <select class="form-control m-b" name="account" id="select_id_1"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control layer-date" placeholder="开始时间" id="startDate"/>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control layer-date" placeholder="结束时间" id="endDate"/>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-w-m btn-success query-btn">查询</button>
                            <button type="button" class="btn btn-w-m btn-white query-reset">重置</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>数据</h5>
                </div>
                <div class="ibox-content">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>设备编号</th>
                            <th>文件地址</th>
                            <th>文件大小</th>
                            <th>文件创建时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="tbodyList">
                        </tbody>
                    </table>

                    <div style="height: 50px; width: 100%">
                        <div id="pagination" class="page fl table_numbers_right"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../js/cron/jquery.min.js"></script>
<!--<script src="../h/js/bootstrap.min.js?v=3.3.6"></script>-->
<!--<script src="../h/js/content.min.js?v=1.0.0"></script>-->
<script src="../js/plugins/layer/laydate/laydate.js"></script>
<script src="../page/jquery.pagination.min.js"></script>
<script>
    lay('#version').html('-v' + laydate.v);
    laydate.render({
        elem: '#startDate',
        type: 'datetime'
    });
    laydate.render({
        elem: '#endDate',
        type: 'datetime'
    });
</script>
<script src="../js/pile.js"></script>

</body>

</html>