<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>事件类型</title>

<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/animate.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/plugins/webuploader/webuploader.css">
<link href="css/style.min.css" rel="stylesheet">
<link href="css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<link href="css/local/common.css" rel="stylesheet">

<script src="../js/cron/jquery.min.js"></script>
<script src="../js/cron/bootstrap.min.js"></script>
<script src="js/plugins/jeditable/jquery.jeditable.js"></script>
<script src="js/content.min.js"></script>
<script src="../js/plugins/layer/laydate/laydate.js"></script>
<script src="js/plugins/layer/layer.min.js"></script>
<script src="js/plugins/peity/jquery.peity.min.js"></script>
<script src="js/plugins/iCheck/icheck.min.js"></script>
<script src="js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="js/plugins/webuploader/webuploader.min.js"></script>
<script src="js/plugins/validate/jquery.validate.min.js"></script>
<script src="js/plugins/validate/messages_zh.min.js"></script>
<script src="../js/plugins/layer/laydate/laydate.js"></script>
<script src="js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="js/local/common/common.js"></script>
<script src="js/local/common/tableColumn.js"></script>
<script src="js/local/common/const.js"></script>
<script src="js/local/common/messageContent.js"></script>
<script src="js/local/eventManage/eventRecord.js"></script>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="table_data_tables.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <select id="eventType" class="form-control">
                            <option value="" selected="selected">请选择</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <input placeholder="开始时间" class="form-control layer-date" id="startDTTM"/>
                        <input placeholder="结束时间" class="form-control layer-date" id="endDTTM"/>
                    </div>
                    <button type="button" onclick="search()" class="btn btn-w-m btn-success btn-local">查&nbsp;询</button>
                    <button type="button" onclick="reset()" class="btn btn-w-m btn-success btn-local">重&nbsp;置</button>
                </div>
                <div class="ibox-content">
                    <table class="footable table table-stripped toggle-arrow-tiny" id="eventRecordTable" ></table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>