<!DOCTYPE html>
    <html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>日志管理</title>
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="css/local/common.css" rel="stylesheet">

    <script src="../js/cron/jquery.min.js"></script>
    <script src="../js/cron/bootstrap.min.js"></script>
    <script src="js/plugins/jeditable/jquery.jeditable.js"></script>
    <script src="js/content.min.js"></script>
    <script src="../js/plugins/layer/laydate/laydate.js"></script>
    <script src="js/plugins/layer/layer.min.js"></script>
    <script src="js/plugins/peity/jquery.peity.min.js"></script>
    <script src="js/plugins/iCheck/icheck.min.js"></script>
    <script src="js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="js/plugins/validate/jquery.validate.min.js"></script>
    <script src="js/plugins/validate/messages_zh.min.js"></script>
    <script src="js/local/common/common.js"></script>
    <script src="js/local/common/const.js"></script>
    <script src="js/local/common/messageContent.js"></script>
    <script src="js/local/logManage/logHistory.js"></script>
    <script src="js/local/common/tableColumn.js"></script>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-12">

            <div class="ibox">
                <div class="ibox-content">
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-3">
                            <select class="form-control m-b" name="moduleID" id="moduleID">
                                <option value="" selected="selected">功能模块</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control layer-date" placeholder="开始时间" id="startDTTM"/>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control layer-date" placeholder="结束时间" id="endDTTM"/>
                        </div>
                        <div class="col-md-3">
                            <button type="button" onclick="searchLogHistory()" class="btn btn-w-m btn-success query-btn">查询</button>
                            <button type="button" onclick="resetForm()" class="btn btn-w-m btn-white query-reset">重置</button>
                        </div>
                        <div class="ibox-content">
                            <table class="footable table table-stripped toggle-arrow-tiny" id="logHistoryTable" ></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>