<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>配置</title>
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/plugins/webuploader/webuploader.css">
    <link href="css/style.min.css" rel="stylesheet">
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/local/common.css" rel="stylesheet">

    <script src="../js/cron/jquery.min.js"></script>
    <script src="../js/cron/bootstrap.min.js"></script>
    <script src="js/plugins/jeditable/jquery.jeditable.js"></script>
    <script src="js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="js/content.min.js"></script>
    <script src="../js/plugins/layer/laydate/laydate.js"></script>
    <script src="js/plugins/layer/layer.min.js"></script>
    <script src="js/plugins/peity/jquery.peity.min.js"></script>
    <script src="js/plugins/iCheck/icheck.min.js"></script>
    <script src="js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="js/plugins/webuploader/webuploader.min.js"></script>
    <script src="js/plugins/validate/jquery.validate.min.js"></script>
    <script src="js/plugins/validate/messages_zh.min.js"></script>
    <script src="js/local/common/common.js"></script>
    <script src="js/local/common/const.js"></script>
    <script src="js/local/common/messageContent.js"></script>
    <script src="js/local/common/tableColumn.js"></script>
    <script src="js/local/logManage/logSetting.js"></script>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="table_data_tables.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="table_data_tables.html#">选项1</a>
                            </li>
                            <li><a href="table_data_tables.html#">选项2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                    <button type="button" id="start" onclick="addLogSetting()" class="btn btn-w-m btn-success btn-local">添&nbsp;加</button>
                    <button type="button" onclick="checkBoxCount()" class="btn btn-w-m btn-success btn-local">修&nbsp;改</button>
                    <button type="button" id="delete" onclick="initLayer()" class="btn btn-w-m btn-success btn-local">删&nbsp;除</button>
                </div>
                <div class="ibox-content">
                    <table class="footable table table-stripped toggle-arrow-tiny" id="logSettingTable" ></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--添加彈出框-->
<div class="modal inmodal" id="addLogSettingModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header modal-local">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title">添加日志配置</h4>
            </div>
            <div class="modal-body">
                <form id="addLogSettingForm" class="form-horizontal">
                    <div class="form-group">
                        <label>功能模块</label>
                        <select id="moduleID" name="moduleID" autocomplete="off" class="form-control" aria-required="true">
                            <option value="" selected="selected">请选择</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>是否存储</label>
                        <select id="logFlag" name="logFlag" autocomplete="off" class="form-control" aria-required="true">
                            <option value="0" selected="selected">是</option>
                            <option value="1">否</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>存储方式</label>
                        <select id="storeStyle" name="storeStyle" autocomplete="off" class="form-control" aria-required="true">
                            <option value="" selected="selected">请选择</option>
                            <option value="1">按时间存储</option>
                            <option value="2">按文件大小存储</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>存储周期(S)</label>
                        <input id="storePeriod" name="storePeriod" autocomplete="off" type="text" class="form-control number">
                    </div>
                    <div class="form-group">
                        <label>文件大小极值(M)</label>
                        <input id="storeFileSize" name="storeFileSize" autocomplete="off" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>是否压缩</label>
                        <select id="compressFlag" name="compressFlag" autocomplete="off" class="form-control">
                            <option value="0" selected="selected">是</option>
                            <option value="1">否</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>压缩方式</label>
                        <select id="compressStyle" name="compressStyle" autocomplete="off" class="form-control">
                            <option value="0" selected="selected">7z</option>
                            <option value="1">zip</option>
                            <option value="2">tar</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="confirmAdd()" class="btn btn-primary">保存</button>
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
</body>

</html>