<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mogateway.mapper.HistoryDataMapper">
  <resultMap id="BaseResultMap" type="com.mogateway.entity.HistoryData">
    <id column="history_id" jdbcType="VARCHAR" property="historyId" />
    <result column="instructions_name" jdbcType="VARCHAR" property="instructionsName" />
    <result column="is_enable" jdbcType="INTEGER" property="isEnable" />
    <result column="is_flang_kj" jdbcType="INTEGER" property="isFlangKj" />
    <result column="is_flang_cust" jdbcType="INTEGER" property="isFlangCust" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    history_id, instructions_name, is_enable, is_flang_kj, is_flang_cust
  </sql>
  <select id="selectByExample" parameterType="com.mogateway.entity.HistoryDataCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from history_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from history_data
    where history_id = #{historyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from history_data
    where history_id = #{historyId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.mogateway.entity.HistoryDataCriteria">
    delete from history_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mogateway.entity.HistoryData">
    insert into history_data (history_id, instructions_name, is_enable, 
      is_flang_kj, is_flang_cust)
    values (#{historyId,jdbcType=VARCHAR}, #{instructionsName,jdbcType=VARCHAR}, #{isEnable,jdbcType=INTEGER}, 
      #{isFlangKj,jdbcType=INTEGER}, #{isFlangCust,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mogateway.entity.HistoryData">
    insert into history_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="historyId != null">
        history_id,
      </if>
      <if test="instructionsName != null">
        instructions_name,
      </if>
      <if test="isEnable != null">
        is_enable,
      </if>
      <if test="isFlangKj != null">
        is_flang_kj,
      </if>
      <if test="isFlangCust != null">
        is_flang_cust,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="historyId != null">
        #{historyId,jdbcType=VARCHAR},
      </if>
      <if test="instructionsName != null">
        #{instructionsName,jdbcType=VARCHAR},
      </if>
      <if test="isEnable != null">
        #{isEnable,jdbcType=INTEGER},
      </if>
      <if test="isFlangKj != null">
        #{isFlangKj,jdbcType=INTEGER},
      </if>
      <if test="isFlangCust != null">
        #{isFlangCust,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mogateway.entity.HistoryDataCriteria" resultType="java.lang.Long">
    select count(*) from history_data
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update history_data
    <set>
      <if test="record.historyId != null">
        history_id = #{record.historyId,jdbcType=VARCHAR},
      </if>
      <if test="record.instructionsName != null">
        instructions_name = #{record.instructionsName,jdbcType=VARCHAR},
      </if>
      <if test="record.isEnable != null">
        is_enable = #{record.isEnable,jdbcType=INTEGER},
      </if>
      <if test="record.isFlangKj != null">
        is_flang_kj = #{record.isFlangKj,jdbcType=INTEGER},
      </if>
      <if test="record.isFlangCust != null">
        is_flang_cust = #{record.isFlangCust,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update history_data
    set history_id = #{record.historyId,jdbcType=VARCHAR},
      instructions_name = #{record.instructionsName,jdbcType=VARCHAR},
      is_enable = #{record.isEnable,jdbcType=INTEGER},
      is_flang_kj = #{record.isFlangKj,jdbcType=INTEGER},
      is_flang_cust = #{record.isFlangCust,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mogateway.entity.HistoryData">
    update history_data
    <set>
      <if test="instructionsName != null">
        instructions_name = #{instructionsName,jdbcType=VARCHAR},
      </if>
      <if test="isEnable != null">
        is_enable = #{isEnable,jdbcType=INTEGER},
      </if>
      <if test="isFlangKj != null">
        is_flang_kj = #{isFlangKj,jdbcType=INTEGER},
      </if>
      <if test="isFlangCust != null">
        is_flang_cust = #{isFlangCust,jdbcType=INTEGER},
      </if>
    </set>
    where history_id = #{historyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mogateway.entity.HistoryData">
    update history_data
    set instructions_name = #{instructionsName,jdbcType=VARCHAR},
      is_enable = #{isEnable,jdbcType=INTEGER},
      is_flang_kj = #{isFlangKj,jdbcType=INTEGER},
      is_flang_cust = #{isFlangCust,jdbcType=INTEGER}
    where history_id = #{historyId,jdbcType=VARCHAR}
  </update>
</mapper>