<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mogateway.mapper.RealTimeMapper">
  <resultMap id="BaseResultMap" type="com.mogateway.entity.RealTime">
    <id column="equipment_no" jdbcType="VARCHAR" property="equipmentNo" />
    <result column="communicate_status" jdbcType="INTEGER" property="communicateStatus" />
    <result column="work_status" jdbcType="INTEGER" property="workStatus" />
    <result column="charging_gun_status" jdbcType="INTEGER" property="chargingGunStatus" />
    <result column="output_voltage" jdbcType="DOUBLE" property="outputVoltage" />
    <result column="output_current" jdbcType="DOUBLE" property="outputCurrent" />
    <result column="output_power" jdbcType="DOUBLE" property="outputPower" />
    <result column="ammeter_no" jdbcType="DOUBLE" property="ammeterNo" />
    <result column="current_soc" jdbcType="DOUBLE" property="currentSoc" />
    <result column="fault_status" jdbcType="INTEGER" property="faultStatus" />
    <result column="fault_desc" jdbcType="VARCHAR" property="faultDesc" />
    <result column="start_charging_dttm" jdbcType="DATE" property="startChargingDttm" />
    <result column="charged_time" jdbcType="VARCHAR" property="chargedTime" />
    <result column="start_charging_ammeter_no" jdbcType="DOUBLE" property="startChargingAmmeterNo" />
    <result column="hardware_version" jdbcType="VARCHAR" property="hardwareVersion" />
    <result column="software_version" jdbcType="VARCHAR" property="softwareVersion" />
    <result column="charged_kwh" jdbcType="DOUBLE" property="chargedKwh" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    equipment_no, communicate_status, work_status, charging_gun_status, output_voltage, 
    output_current, output_power, ammeter_no, current_soc, fault_status, fault_desc, 
    start_charging_dttm, charged_time, start_charging_ammeter_no, hardware_version, software_version, 
    charged_kwh
  </sql>
  <select id="selectByExample" parameterType="com.mogateway.entity.RealTimeCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from real_time
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from real_time
    where equipment_no = #{equipmentNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from real_time
    where equipment_no = #{equipmentNo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.mogateway.entity.RealTimeCriteria">
    delete from real_time
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mogateway.entity.RealTime">
    insert into real_time (equipment_no, communicate_status, work_status, 
      charging_gun_status, output_voltage, output_current, 
      output_power, ammeter_no, current_soc, 
      fault_status, fault_desc, start_charging_dttm, 
      charged_time, start_charging_ammeter_no, hardware_version, 
      software_version, charged_kwh)
    values (#{equipmentNo,jdbcType=VARCHAR}, #{communicateStatus,jdbcType=INTEGER}, #{workStatus,jdbcType=INTEGER}, 
      #{chargingGunStatus,jdbcType=INTEGER}, #{outputVoltage,jdbcType=DOUBLE}, #{outputCurrent,jdbcType=DOUBLE}, 
      #{outputPower,jdbcType=DOUBLE}, #{ammeterNo,jdbcType=DOUBLE}, #{currentSoc,jdbcType=DOUBLE}, 
      #{faultStatus,jdbcType=INTEGER}, #{faultDesc,jdbcType=VARCHAR}, #{startChargingDttm,jdbcType=DATE}, 
      #{chargedTime,jdbcType=VARCHAR}, #{startChargingAmmeterNo,jdbcType=DOUBLE}, #{hardwareVersion,jdbcType=VARCHAR}, 
      #{softwareVersion,jdbcType=VARCHAR}, #{chargedKwh,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.mogateway.entity.RealTime">
    insert into real_time
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="equipmentNo != null">
        equipment_no,
      </if>
      <if test="communicateStatus != null">
        communicate_status,
      </if>
      <if test="workStatus != null">
        work_status,
      </if>
      <if test="chargingGunStatus != null">
        charging_gun_status,
      </if>
      <if test="outputVoltage != null">
        output_voltage,
      </if>
      <if test="outputCurrent != null">
        output_current,
      </if>
      <if test="outputPower != null">
        output_power,
      </if>
      <if test="ammeterNo != null">
        ammeter_no,
      </if>
      <if test="currentSoc != null">
        current_soc,
      </if>
      <if test="faultStatus != null">
        fault_status,
      </if>
      <if test="faultDesc != null">
        fault_desc,
      </if>
      <if test="startChargingDttm != null">
        start_charging_dttm,
      </if>
      <if test="chargedTime != null">
        charged_time,
      </if>
      <if test="startChargingAmmeterNo != null">
        start_charging_ammeter_no,
      </if>
      <if test="hardwareVersion != null">
        hardware_version,
      </if>
      <if test="softwareVersion != null">
        software_version,
      </if>
      <if test="chargedKwh != null">
        charged_kwh,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="equipmentNo != null">
        #{equipmentNo,jdbcType=VARCHAR},
      </if>
      <if test="communicateStatus != null">
        #{communicateStatus,jdbcType=INTEGER},
      </if>
      <if test="workStatus != null">
        #{workStatus,jdbcType=INTEGER},
      </if>
      <if test="chargingGunStatus != null">
        #{chargingGunStatus,jdbcType=INTEGER},
      </if>
      <if test="outputVoltage != null">
        #{outputVoltage,jdbcType=DOUBLE},
      </if>
      <if test="outputCurrent != null">
        #{outputCurrent,jdbcType=DOUBLE},
      </if>
      <if test="outputPower != null">
        #{outputPower,jdbcType=DOUBLE},
      </if>
      <if test="ammeterNo != null">
        #{ammeterNo,jdbcType=DOUBLE},
      </if>
      <if test="currentSoc != null">
        #{currentSoc,jdbcType=DOUBLE},
      </if>
      <if test="faultStatus != null">
        #{faultStatus,jdbcType=INTEGER},
      </if>
      <if test="faultDesc != null">
        #{faultDesc,jdbcType=VARCHAR},
      </if>
      <if test="startChargingDttm != null">
        #{startChargingDttm,jdbcType=DATE},
      </if>
      <if test="chargedTime != null">
        #{chargedTime,jdbcType=VARCHAR},
      </if>
      <if test="startChargingAmmeterNo != null">
        #{startChargingAmmeterNo,jdbcType=DOUBLE},
      </if>
      <if test="hardwareVersion != null">
        #{hardwareVersion,jdbcType=VARCHAR},
      </if>
      <if test="softwareVersion != null">
        #{softwareVersion,jdbcType=VARCHAR},
      </if>
      <if test="chargedKwh != null">
        #{chargedKwh,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mogateway.entity.RealTimeCriteria" resultType="java.lang.Long">
    select count(*) from real_time
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update real_time
    <set>
      <if test="record.equipmentNo != null">
        equipment_no = #{record.equipmentNo,jdbcType=VARCHAR},
      </if>
      <if test="record.communicateStatus != null">
        communicate_status = #{record.communicateStatus,jdbcType=INTEGER},
      </if>
      <if test="record.workStatus != null">
        work_status = #{record.workStatus,jdbcType=INTEGER},
      </if>
      <if test="record.chargingGunStatus != null">
        charging_gun_status = #{record.chargingGunStatus,jdbcType=INTEGER},
      </if>
      <if test="record.outputVoltage != null">
        output_voltage = #{record.outputVoltage,jdbcType=DOUBLE},
      </if>
      <if test="record.outputCurrent != null">
        output_current = #{record.outputCurrent,jdbcType=DOUBLE},
      </if>
      <if test="record.outputPower != null">
        output_power = #{record.outputPower,jdbcType=DOUBLE},
      </if>
      <if test="record.ammeterNo != null">
        ammeter_no = #{record.ammeterNo,jdbcType=DOUBLE},
      </if>
      <if test="record.currentSoc != null">
        current_soc = #{record.currentSoc,jdbcType=DOUBLE},
      </if>
      <if test="record.faultStatus != null">
        fault_status = #{record.faultStatus,jdbcType=INTEGER},
      </if>
      <if test="record.faultDesc != null">
        fault_desc = #{record.faultDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.startChargingDttm != null">
        start_charging_dttm = #{record.startChargingDttm,jdbcType=DATE},
      </if>
      <if test="record.chargedTime != null">
        charged_time = #{record.chargedTime,jdbcType=VARCHAR},
      </if>
      <if test="record.startChargingAmmeterNo != null">
        start_charging_ammeter_no = #{record.startChargingAmmeterNo,jdbcType=DOUBLE},
      </if>
      <if test="record.hardwareVersion != null">
        hardware_version = #{record.hardwareVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.softwareVersion != null">
        software_version = #{record.softwareVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.chargedKwh != null">
        charged_kwh = #{record.chargedKwh,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update real_time
    set equipment_no = #{record.equipmentNo,jdbcType=VARCHAR},
      communicate_status = #{record.communicateStatus,jdbcType=INTEGER},
      work_status = #{record.workStatus,jdbcType=INTEGER},
      charging_gun_status = #{record.chargingGunStatus,jdbcType=INTEGER},
      output_voltage = #{record.outputVoltage,jdbcType=DOUBLE},
      output_current = #{record.outputCurrent,jdbcType=DOUBLE},
      output_power = #{record.outputPower,jdbcType=DOUBLE},
      ammeter_no = #{record.ammeterNo,jdbcType=DOUBLE},
      current_soc = #{record.currentSoc,jdbcType=DOUBLE},
      fault_status = #{record.faultStatus,jdbcType=INTEGER},
      fault_desc = #{record.faultDesc,jdbcType=VARCHAR},
      start_charging_dttm = #{record.startChargingDttm,jdbcType=DATE},
      charged_time = #{record.chargedTime,jdbcType=VARCHAR},
      start_charging_ammeter_no = #{record.startChargingAmmeterNo,jdbcType=DOUBLE},
      hardware_version = #{record.hardwareVersion,jdbcType=VARCHAR},
      software_version = #{record.softwareVersion,jdbcType=VARCHAR},
      charged_kwh = #{record.chargedKwh,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mogateway.entity.RealTime">
    update real_time
    <set>
      <if test="communicateStatus != null">
        communicate_status = #{communicateStatus,jdbcType=INTEGER},
      </if>
      <if test="workStatus != null">
        work_status = #{workStatus,jdbcType=INTEGER},
      </if>
      <if test="chargingGunStatus != null">
        charging_gun_status = #{chargingGunStatus,jdbcType=INTEGER},
      </if>
      <if test="outputVoltage != null">
        output_voltage = #{outputVoltage,jdbcType=DOUBLE},
      </if>
      <if test="outputCurrent != null">
        output_current = #{outputCurrent,jdbcType=DOUBLE},
      </if>
      <if test="outputPower != null">
        output_power = #{outputPower,jdbcType=DOUBLE},
      </if>
      <if test="ammeterNo != null">
        ammeter_no = #{ammeterNo,jdbcType=DOUBLE},
      </if>
      <if test="currentSoc != null">
        current_soc = #{currentSoc,jdbcType=DOUBLE},
      </if>
      <if test="faultStatus != null">
        fault_status = #{faultStatus,jdbcType=INTEGER},
      </if>
      <if test="faultDesc != null">
        fault_desc = #{faultDesc,jdbcType=VARCHAR},
      </if>
      <if test="startChargingDttm != null">
        start_charging_dttm = #{startChargingDttm,jdbcType=DATE},
      </if>
      <if test="chargedTime != null">
        charged_time = #{chargedTime,jdbcType=VARCHAR},
      </if>
      <if test="startChargingAmmeterNo != null">
        start_charging_ammeter_no = #{startChargingAmmeterNo,jdbcType=DOUBLE},
      </if>
      <if test="hardwareVersion != null">
        hardware_version = #{hardwareVersion,jdbcType=VARCHAR},
      </if>
      <if test="softwareVersion != null">
        software_version = #{softwareVersion,jdbcType=VARCHAR},
      </if>
      <if test="chargedKwh != null">
        charged_kwh = #{chargedKwh,jdbcType=DOUBLE},
      </if>
    </set>
    where equipment_no = #{equipmentNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mogateway.entity.RealTime">
    update real_time
    set communicate_status = #{communicateStatus,jdbcType=INTEGER},
      work_status = #{workStatus,jdbcType=INTEGER},
      charging_gun_status = #{chargingGunStatus,jdbcType=INTEGER},
      output_voltage = #{outputVoltage,jdbcType=DOUBLE},
      output_current = #{outputCurrent,jdbcType=DOUBLE},
      output_power = #{outputPower,jdbcType=DOUBLE},
      ammeter_no = #{ammeterNo,jdbcType=DOUBLE},
      current_soc = #{currentSoc,jdbcType=DOUBLE},
      fault_status = #{faultStatus,jdbcType=INTEGER},
      fault_desc = #{faultDesc,jdbcType=VARCHAR},
      start_charging_dttm = #{startChargingDttm,jdbcType=DATE},
      charged_time = #{chargedTime,jdbcType=VARCHAR},
      start_charging_ammeter_no = #{startChargingAmmeterNo,jdbcType=DOUBLE},
      hardware_version = #{hardwareVersion,jdbcType=VARCHAR},
      software_version = #{softwareVersion,jdbcType=VARCHAR},
      charged_kwh = #{chargedKwh,jdbcType=DOUBLE}
    where equipment_no = #{equipmentNo,jdbcType=VARCHAR}
  </update>

  <select id="selectByNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from  real_time
    where equipment_no = #{equipmentNo,jdbcType=VARCHAR}
  </select>
</mapper>